@import "colors.less";
@import "style_field.less";

.arrange-box {
  width: 95%;

  display: grid;
  grid-template-columns: 100%;
  gap: 10px 0px;
  justify-items: center;
  align-items: start;
}

main-control {
  width: 100%;

  display: grid;
  grid-template-areas: "LF BtnF RF";
  grid-template-columns: 40% 20% 40%;
  gap: 0px 8px;

  .field_left {
    grid-area: LF;
  }

  .field_right {
    grid-area: RF;
  }

  .btn-between {
    grid-area: BtnF;
  }
}
